*{
    margin: 0;
    padding: 0;
    background-color: black;
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav{
    /* background-color: rgb(129, 240, 214); */
    color: black;
    /* border: 0.1rem solid grey; */
    /* position: fixed; */
    width: 100%;
    
    padding: 0.2rem;

}
.nav-box{
    display: flex;
    list-style: none;
    margin-left: 4rem;
    margin-right: 4rem;
    /* padding: 10px 90px; */
    /* background-color: rgb(129, 240, 214); */

}

.nav-box li{
    padding: 1rem;
    font-size: 1.3rem;
    color: grey;
    font-size: 1rem;
}
.logo{
    padding: 0 1rem;
    font-size: 1.3rem;
    color: white;
    display: flex;
    /* font-size: 1rem; */
}
.logo img{
    margin-right: 0.5rem;
    width: 2vw;
}
.alert{
    position: relative;
    margin-top: 1rem;
    color: grey;
    display: flex;
    justify-content: center;
    /* background-color: yellow; */
}
.alert a{
    color: aqua;
}
.right{
    position: absolute;
    right: 6rem;
    padding: 1rem;
    display: flex;
}
#ico{
    padding: 0 1rem;
    margin-top: 0.3rem;
    display: inline-block;
}
.content{
    display: flex;
}
#search-bar{
    /* margin-top: 0.4rem; */
    border: 1px solid white;
    padding: 0.2rem 0.1rem;
    display: inline-block;
    width: 10rem;
    height: 2rem;
    border-radius: 0.3rem;
    justify-content: center;
    align-items: center;
}

#download{
    /* margin-top: 14rem; */
    background-color: rgb(36, 101, 199);
    color: wheat;
    /* height: 2rem; */
    margin-left: 2rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    /* margin-bottom: 0.8rem; */
}
.whole-container{
    display: flex;
    padding: 2rem 9rem;
}
.left-side{
    padding: 9rem 0rem;
    width: 26vw;
    margin-bottom: 2rem;
}
.left-side h1{
    color: white;
    margin-top: 1rem;
    font-size: 3.4rem;
}
.left-side button{
    margin-top: 2rem;
    background-color:  rgb(36, 101, 199);
    color: white;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    font-size: 1.4rem;
}

.left-side a{
    color: rgb(66, 165, 246);
    
}
.left-side p{
    
    margin-top: 2rem;
    
}
.message{
    border-radius: 3rem;
    border: 1px solid grey;
    padding: 0.4rem 0.6rem;
}
.right-side{
    /* padding-right: 9rem; */
    padding-top: 5rem;
    margin-left: 1rem;
    width: 60%;
}
.right-side img{
    /* margin-lef: 2rem; */
    height: 32rem;

}

.bottom{
    display: flex;
    padding: 5rem 9rem;
}
.bottom a{
    color: rgb(66, 165, 246);
}
.text-part{
    width: 30%;
    /* border: 2px solid greenyellow; */

}
.text-part h1{
    color: white;
    
}
.text-part p{
    margin-top: 1.4rem;
    line-height: 1.6rem;
}
.icons-part{
    display: flex;
    width: 70%;
    /* background-color: aliceblue; */
    /* border: 2px solid white; */
}
.col{
    padding: 0rem 0.4rem;
}
.iconset{
    display: flex;
    margin: 0.5rem 5rem;
    margin-bottom: 1rem;
}
.img-card{
    width: 3rem;
}
.icon img{
    width: 20%;
}
.icon{
    height: 1rem;
}
.item{
    text-align: left;
    display: flex;
    /* border: 1px solid grey; */
    border-radius: 8px;
    /* width: 18rem; */
    
    justify-content: center;
    padding: 1rem 1rem;
    margin: 1rem 0rem;
}
.item h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.col :hover {
    /* background-color: aqua; */
    border: 1px solid white;

}
.btm{
    margin-top: 0;
    padding-top: 0;
}
.btm h2{
    color: white;
}
.btml{
    padding-top: 0;
    width: 25vw;
}
.btmr{
    padding-top: 0;
}
.btmp{
    font-size: 1.2rem;
}

.last-block{
    text-align: center;
    margin-bottom: 4rem;
}
.last-block h1{
    color: white;
}
.card-row{
    display: flex;
    justify-content: center;
}
.card-col{
    text-align: left;
    justify-content: start;
    align-items: start;
    height: 10rem;
    width: 16rem;
    background-color: rgba(98, 98, 98, 0.176);
    margin: 0.7rem;
    border-radius: 0.7rem;
    padding: 2rem;
}
.card-row :hover{
    border : 1px solid grey;

}
.card-col h3{
    margin-top: 2rem;

    background-color: rgba(98, 98, 98, 0);

    color: white;

}
.card-col p{
    margin-top: 1rem;
    background-color: rgba(98, 98, 98, 0);

    color: grey;

}
footer{
    padding: 5rem 5rem;
}
.row-footer img{
    width: 2vw;
    padding: 0.5rem;
}
.row-footer{
    display: flex;
    
}
.row-footer p{
    padding: 0.5rem;
}